body {
  text-align: center;
  background-image: url("old_paper_background-wallpaper-1366x768.jpg");
}
h2 {
  font-size: 3em;
  font-family: "Nimbus Mono L", sans-serif;
}

button {
  position: relative;
  background-color: darkBlue;
  color: white;
  font-style: normal;
  margin: 30px 15px 45px 15px;
  font-size: 24px;
  font-family: serif;
  border: 3px solid black;
  border-radius: 50px 30px;
  height: 178px;
  width: 163px;
}

button:hover {
    color: black;
}

button:active {
  background-color: inherit;
  transform: translateY(6px);
}


#roundResult {
  font-size: 35px;
  font-family: "Ani" sans-serif ;
  padding: 3rem;
}

#reset {
  background-color: #63550c;
}
